* {
    font-family: 微软雅黑;
}

body {
    overflow: hidden;
}

#subminbtn {
    background-image: url('../img/u241.png');
    position: relative;
    left: 300px;
    top: 300px;
    font-family: 微软雅黑;
    width: 240px;
    height: 40px;
    border-radius: 3px;
    color: white;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../img/u239.png") no-repeat scroll right center transparent;
    padding-right: 15px;
}

option:hover {
    background-color: #3498DB;
    font-size: 14px;
    font-family: 微软雅黑;
    color: white;
}

#tijiao {
    position: relative;
    top: 250px;
    left: 300px;
    height: 50px;
    width: 200px;
    background-color: #0a6cd6;
    transition: all 0.2s ease;
    border-radius: 5px;
    color: #FFF;
}

#tijiao:hover {
    background-color: #0a66cc;
    font-size: large;
}

#wodeshangpinkuang {
    border-radius: 3px;
    width: 1280px;
    height: 900px
}

#shangchuantupiandeanniu {
    position: relative;
    left: 300px;
    top: 200px;
    height: 40px;
    width: 153px;
    border: 1px solid #D7DDE4;
    border-radius: 3px;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #999999;
}

#consignerRdSign {
    position: relative;
    top: 50px;
    left: 50px;
    height: 200px;
    width: 200px
}

#shangpinmingzi {
    position: relative;
    left: 150px;
    top: 110px;
    height: 30px;
    width: 323px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 13px;
    font-family: 微软雅黑
}

#shichangjia {
    position: relative;
    top: 140px;;
    left: 150px;
    height: 23px;
    width: 57px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 13px;
    font-family: 微软雅黑
}

#shangpinshuliang {
    height: 23px;
    width: 57px;
    position: relative;
    top: 200px;
    left: 200px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 13px;
    font-family: 微软雅黑
}

#btn_file3 {
    display: none;
}

#note {
    font-size: 12px;
    color: #999999;
    position: relative;
    top: 25px;
    left: 100px;
}

#title_1 {
    position: relative;
    left: 150px;
    top: 50px;
    font-size: 14px;
    color: #666666
}

#title_2 {
    position: relative;
    left: 150px;
    top: 80px;
    font-size: 14px;
    color: #666666
}

#title_3 {
    position: relative;
    left: 150px;
    top: 110px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #666666
}

#lianxifangshi {
    position: relative;
    left: 150px;
    top: 50px;
    height: 30px;
    width: 323px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 13px;
    font-family: 微软雅黑;
}

#is_hot {
    position: relative;
    left: 150px;
    top: 80px
}

#title_4 {
    position: relative;
    left: 150px;
    top: 140px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #666666
}

#title_5 {
    font-size: 14px;
    position: relative;
    top: 140px;
    left: 150px;
    color: #666666
}

#title_6 {
    font-size: 14px;
    position: relative;
    top: 140px;
    left: 200px;
    color: #666666
}

#title_7 {
    position: relative;
    left: 150px;
    top: 170px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #666666
}

#title_8 {
    font-family: 微软雅黑;
    font-size: 14px;
    position: relative;
    top: 170px;
    left: 150px;
    color: #666666
}

#shangchengjia {
    position: relative;
    top: 170px;;
    left: 150px;
    height: 23px;
    width: 57px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 13px;
}

#title_9 {
    font-family: 微软雅黑;
    font-size: 14px;
    position: relative;
    top: 170px;
    left: 200px;
    color: #666666
}

#title_10 {
    position: relative;
    left: 150px;
    top: 200px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #666666
}

#fenlei {
    position: relative;
    left: 150px;
    top: 200px;
    height: 40px;
    width: 220px;;
    font-size: 13px;
    border: 1px solid #CCCCCC
}

#title_11 {
    position: relative;
    left: 200px;
    top: 200px;
    font-size: 14px;
    color: #666666
}